# Environment variables
.venv
# configuration file
config.py

# Python cache
__pycache__/
*.py[cod]

# Build artifacts
build/
dist/
*.egg-info/

# Logs
*.log

# IDE settings
.idea/
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Miscellaneous
*.tmp